process.executor = 'slurm'
process.clusterOptions = '--partition "gpushort,gpu" --gpus=1 -N 1 -n1 --mem-per-cpu=7G --gpus-per-task=1'
// --exclude="iscg001,iscg002" they fixed this so no need
executor {
    perCpuMemAllocation = true
    queueSize = 100
}

conda.enabled = true
conda.useMamba = true
report.overwrite = true